@use "../abstract" as *;

header {
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .logo {
    font-size: 1.50rem;
  }

  nav {
    ul {
      display: none;

      li {
        list-style: none;
      }

      @include mq(md) {
        display: flex;
        gap: 1rem;
      }

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }
}
